<header>
  <nav>
    <div id="logo">
      <h1>LOGO</h1>
    </div>
    <div id="profil">
      {{if .IsUserConnected}}
      <a href="/profil"> Voir profil</a>
      {{else}}
      <a href="/login"> Connexion</a>
      <a href="/register"> Inscription</a>
      {{end}}
    </div>
  </nav>
</header>

<main id="bodyOfAcceuil">
  <div id="column1">
    <div id="menu">
      <!-- Accueil -->
      <div class="subMenu">
        <img src="../assets/img/accueil.png" alt="" class="menuImage" />
        <a href="/"> Accueil</a>
      </div>
      <!-- Ajouter une publication -->
      <div class="subMenu">
        <img src="../assets/img/add.png" alt="" class="menuImage" />
        <a href="/checkpublicationForm">Nouvelle publication</a>
      </div>
      <!-- Mes publications -->
      <div class="subMenu">
        <img src="../assets/img/news.png" alt="" class="menuImage" />
        <form action="/" method="post">
          <input type="hidden" name="postValue" value="myPosts" />
          <a><button type="submit">Mes publications</button></a>
        </form>
      </div>
      <!-- Publications aimées -->
      <div class="subMenu">
        <img src="../assets/img/like.png" alt="" class="menuImage" />
        <form action="/" method="post">
          <input type="hidden" name="postValue" value="likedPosts" />
          <a><button type="submit">Publications aimées</button></a>
        </form>
      </div>
    </div>
    <div id="log_out">
      {{if .IsUserConnected}}
      <a href="/logout">DECONNEXION</a>
      {{end}}
    </div>
  </div>
  <div id="filtres">
    {{if .FilterBarOn}}
    <div id="searchBar">
      <form action="/">
        <span><button type="submit">FILTRER</button></span>
        <select name="tag">
          <option value="ALL">ALL</option>
          <option value="Gaming">Gaming</option>
          <option value="Lifestyle">Lifestyle</option>
          <option value="Space">Space</option>
          <option value="Art">Art</option>
          <option value="Nature">Nature</option>
        </select>
      </form>
    </div>
  </div>
  {{end}}
</main>
