<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/index.css">
  <title>Connexion</title>
</head>

<body>
  <!--<h1>{{.ErreurMail}}</h1>
  <h1>{{.ErreurCookie}}</h1>-->

   <div id="centerBox">
            <h2>Connexion</h2>
             <form action="/loginGet" method="POST" id="centerBoxForm">
                  <input type="text" id="mail" name="mail" placeholder="mail" autocomplete="username" required>
                  <input type="password" id="password" name="password" placeholder="password" autocomplete="new-password" required>
                  <input type="text" id="username" name="username" placeholder="username" autocomplete="username" required>
                  <button type="submit">Valider</button>
              </form>
        </div>  
</body>

</html>