<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Post</title>

  <link href="../assets/css/publicationForm.css" rel="stylesheet" />
  <script src="../assets/js/publicationForm.js"></script>
  <link rel="stylesheet" href="../assets/css/style1.css">
</head>

<body>
  {{.Header}}

  <main>
    <div id="column-2">
      <form action="/publicationSubmitForm" method="post" enctype="multipart/form-data" id="postForm">
        <!-- Pid -->
        <input type="hidden" id="pid" name="pid" value="{{.FormPublication.Pid}}">

        <div id="addForm">

          <!-- Title -->
          <div id="title">
            <input type="text" placeholder="Title:" id="title" name="title" value="{{.FormPublication.Title}}" required>
          </div>

          <!-- Description -->
          <div id="content">
            <textarea id="content" placeholder="Content:" name="content" rows="4" cols="50"
              required>{{.FormPublication.Content}}</textarea>
          </div>

          <!-- Image -->
          <button id="toggleFile" type="button" onclick="toggleFileInput()">Add Image</button>

          <div id="fileInput" style="display: none;">
            <br>
            <input type="file" id="image" name="image" onchange="displayImage()">
            <br><br>
            <img id="imagePreview" src="../assets/uploads/{{.FormPublication.ImageLink}}"
              onerror="hideBrokenImageIcon()">
          </div>
          <input type="hidden" id="imageName" name="imageName" value="{{.FormPublication.ImageLink}}">
          <input type="hidden" id="addImageBoolean" name="addImageBoolean" value="false">
          <br><br>

          {{if .FormPublication.ImageLink}}
          <script>toggleFileInput();</script>
          {{end}}

          <!-- Tags -->
          <div id="tagsDiv">
            <select id="tags" name="tags">
              <option value="Gaming">Gaming</option>
              <option value="Lifestyle">Lifestyle</option>
              <option value="Space">Space</option>
              <option value="Art">Art</option>
              <option value="Nature">Nature</option>
            </select>
            <button type="button" onclick="addTag(getSelectedValue())">Add Tag</button>
            <br><br>
          </div>

          <!-- List of tags -->
          <div id="selectedTags" style="display: none;">
            <label for="selected-tags">Selected Tags:</label>
            <ul id="selected-tags"></ul>
            <input type="hidden" id="selected-tags-input" name="selected-tags" value="">
            <input type="hidden" id="existing-tags" name="existing-tags" value="{{.FormPublication.TagsString}}">
          </div>

        </div>
        <!-- Submit -->
        <div id="buttonDiv">
          <a href="/">Back</a>
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </main>
</body>

</html>