<div class="publication">
    <div class="publicationTop">
        <div class="publicationTopLeft">
            <div class="publicationUsername">{{.Username}}</div>
            <form action="/publication" method="post">
                <button name="idPublication" value="{{.Pid}}">
                    <div class="publicationTitle">{{.Title}}</div>
                </button>
            </form>
        </div>
        <div class="publicationTags">
            {{.Tags}}
        </div>
    </div>
    <div class="alignInside">
        <div class="publicationDescription" {{if .IsThereImage}}style="width: 70%;"{{end}}>{{.Content}}</div>
        {{if .IsThereImage}}
        <img class="publicationImage" src="{{.ImageLink}}" alt="exampleImage">
        <!--TEMPORARY-->
        <img class="publicationImage" src="./assets/uploads/{{.ImageLink}}" alt="exampleImage">
        <!--TEMPORARY-->
        {{end}}
    </div>
    <div class="publicationCounter">
        <a class="voteButtonPadding {{.UpvoteClass}}" href="/likes?id={{.Pid}}&isComment=false&isLike=true"><img class="upvoteIcon"src="https://external-preview.redd.it/vWYcdynWxuFy6bKYpZwuw6KiNgYuBPM6daHCwWRs4mo.png?auto=webp&s=fe3bf857b3c9f1369aed1ea0bc5e1acd8ae39449" alt=""></a>
        <div class="upvoteNumber">{{.UpvoteNumber}}</div>
        <a class="voteButtonPadding {{.DownvoteClass}}" href="/likes?id={{.Pid}}&isComment=false&isLike=false"><img class="downvoteIcon"src="https://lh6.googleusercontent.com/proxy/eIl4xyFenaeOotTx0bp9nXzEU8tPQ8c5r9hrkfvG43vToNsuAS_cmLU-IQ4kcvCxwtaV9tifecw8G6dEGbzbzA79YF3dQLIRgrmQEwsJZr3tk_oraWzBDdQNeL3ycGxBjaYZxx1R1ZSHHt0PUjsTIggpBZ6p1KyiT1g5ry4fME0=s0-d" alt=""></a>
        <img class="commentIcon" src="https://www.freeiconspng.com/uploads/comment-png-17.png">
        <div class="commentNumber">{{.CommentNumber}}</div>
    </div>
</div>