<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="publicationPage">
        <div class="publicationPageHeader">
            <div class="publicationPageFirstLine">
                <div class="publicationPageTopLeft">
                    <div class="publicationPageUsername">{{.Username}}</div>
                    <div>le {{.CreatedDate}}</div>
                </div>
                <div class="publicationPageTopRight">
                    <div class="publicationPageTags">{{.Tags}}</div>
                    {{if .IsOwner}}
                    <div class="publicationPageEditBtn"><a href="/publicationForm?id={{.Pid}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16"><path d="M14.146 3.646a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.708-.708l10-10a.5.5 0 0 1 .708 0zm-1.56 1.465-9 9L2 13l9-9 1.293 1.293zM4.5 9a.5.5 0 0 0 .5-.5v-5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 .5.5zm2 0a.5.5 0 0 0 .5-.5v-5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 .5.5zm2 0a.5.5 0 0 0 .5-.5v-5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 .5.5zm2-4.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 1 0V5.5z"/>
                        </svg></a></div>
                    <div class="publicationPageDeleteBtn"><a href="/publicationDelete?id={{.Pid}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"> <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/> <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/> 
                        </svg></a></div>
                    {{end}}
                </div>
            </div>
            <div class="publicationPageTitle">
                {{.Title}}
            </div>

            {{ if .Edited }}
                <p>(edited)</p>
            {{ end }}

        </div>
        <div class="publicationPageContent">
            {{.Content}}
        </div>
        {{if .IsThereImage}}
        <div class="publicationPageImage">
            <img src="{{.ImageLink}}" alt="image">
        </div>
        {{end}}

        <div class="publicationPageLowBar">
            <div class="publicationPageUpvoteDownvote">
                <a class="voteButtonPadding {{.UpvoteClass}}" href="/likes?id={{.Pid}}&isComment=false&isLike=true"><img class="upvoteIcon"src="https://external-preview.redd.it/vWYcdynWxuFy6bKYpZwuw6KiNgYuBPM6daHCwWRs4mo.png?auto=webp&s=fe3bf857b3c9f1369aed1ea0bc5e1acd8ae39449" alt=""></a>
                <span>{{.UpvoteNumber}}</span>
                <a class="voteButtonPadding {{.DownvoteClass}}" href="/likes?id={{.Pid}}&isComment=false&isLike=false"><img class="downvoteIcon"src="https://lh6.googleusercontent.com/proxy/eIl4xyFenaeOotTx0bp9nXzEU8tPQ8c5r9hrkfvG43vToNsuAS_cmLU-IQ4kcvCxwtaV9tifecw8G6dEGbzbzA79YF3dQLIRgrmQEwsJZr3tk_oraWzBDdQNeL3ycGxBjaYZxx1R1ZSHHt0PUjsTIggpBZ6p1KyiT1g5ry4fME0=s0-d" alt=""></a>
            </div>
            <div class="publicationPageCommentNumber">
                <img class="commentIcon" src="https://www.freeiconspng.com/uploads/comment-png-17.png" alt="">
                <span>{{.CommentNumber}}</span>
            </div>
        </div>
        <div class="publicationPageSeparator">
            <div>
                <a class="publicationPageCreateComment" href="/addCommentBox?pid={{.Pid}}">+ Répondre</a>
            </div>
            <div class="publicationPageSortComment">Trier par : 
                <a href="/publicationPageSortPertinance?pid={{.Pid}}" class="publicationPageSortCommentBtn {{if .SortedByDate}}{{else}}publicationPageSortCommentBtnSelected{{end}}">Pertinance</a> | <a href="/publicationPageSortDate?pid={{.Pid}}" class="publicationPageSortCommentBtn {{if .SortedByDate}}publicationPageSortCommentBtnSelected{{end}}">Nouveau</a>
            </div>
        </div>
        {{.CreateCommentBox}}

        <div class="publicationPageComments">
            {{range .Comments}}
                <div class="publicationPageComment">
                    <div class="publicationPageCommentSide">
                        <a class="voteButtonPadding {{.UpvoteClass}}" href="/likes?id={{.Cid}}&isComment=true&isLike=true"><img class="upvoteIcon"src="https://external-preview.redd.it/vWYcdynWxuFy6bKYpZwuw6KiNgYuBPM6daHCwWRs4mo.png?auto=webp&s=fe3bf857b3c9f1369aed1ea0bc5e1acd8ae39449" alt=""></a>
                        <span class="publicationPageCommentLikeNb">{{.Like}}</span>
                        <a class="voteButtonPadding {{.DownvoteClass}}" href="/likes?id={{.Cid}}&isComment=true&isLike=false"><img class="downvoteIcon"src="https://lh6.googleusercontent.com/proxy/eIl4xyFenaeOotTx0bp9nXzEU8tPQ8c5r9hrkfvG43vToNsuAS_cmLU-IQ4kcvCxwtaV9tifecw8G6dEGbzbzA79YF3dQLIRgrmQEwsJZr3tk_oraWzBDdQNeL3ycGxBjaYZxx1R1ZSHHt0PUjsTIggpBZ6p1KyiT1g5ry4fME0=s0-d" alt=""></a>        
                    </div> 
                    <div class="publicationPageCommentCore">
                        <div class="publicationPageCommentHeader">
                            <div class="publicationPageCommentUsername">{{.Username}}</div>
                            le {{.CreatedDate}}
                            {{if .IsOwner}}
                            <div class="publicationPageDeleteBtn"><a href="/commentDelete?id={{.Cid}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"> <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/> <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/> 
                                </svg></a></div>
                            {{end}}
                        </div>
                        
                        <div class="publicationPageContent">
                            {{.Content}}
                        </div>
                    </div>
                </div>
            {{end}}
            
        </div>
    
    </div>



</body>
</html>