<div class="publication">
    <div class="publicationTitle">{{.Title}}</div>
    <div class="alignInside">
        <div class="publicationDescription" {{if .IsThereImage}}style="width: 70%;"{{end}}>{{.Description}}</div>
        {{if .IsThereImage}}
        <img class="publicationImage" src="{{.ImageLink}}" alt="exampleImage">
        {{end}}
    </div>
    <div class="publicationCounter">
        <button><img class="upvoteIcon" src="https://external-preview.redd.it/vWYcdynWxuFy6bKYpZwuw6KiNgYuBPM6daHCwWRs4mo.png?auto=webp&s=fe3bf857b3c9f1369aed1ea0bc5e1acd8ae39449"></button>
        <div class="upvoteNumber">{{.UpvoteNumber}}</div>
        <button><img class="downvoteIcon" src="https://lh6.googleusercontent.com/proxy/eIl4xyFenaeOotTx0bp9nXzEU8tPQ8c5r9hrkfvG43vToNsuAS_cmLU-IQ4kcvCxwtaV9tifecw8G6dEGbzbzA79YF3dQLIRgrmQEwsJZr3tk_oraWzBDdQNeL3ycGxBjaYZxx1R1ZSHHt0PUjsTIggpBZ6p1KyiT1g5ry4fME0=s0-d"></button>
        <img class="commentIcon" src="https://www.freeiconspng.com/uploads/comment-png-17.png">
        <div class="commentNumber">{{.CommentNumber}}</div>
    </div>
</div>