<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>

<body>
    <h1>Post</h1>
    <form action="/publicationSubmitForm" method="post" enctype="multipart/form-data" id="postForm">
        <!-- Pid -->
        <input type="hidden" id="pid" name="pid" value="{{.Pid}}">

        <!-- Title -->
        <label for="title">Title:</label>
        <br>
        <input type="text" id="title" name="title" value="{{.Title}}" required>
        <br><br>

        <!-- Description -->
        <label for="content">Content:</label>
        <br>
        <textarea id="content" name="content" rows="4" cols="50" required>{{.Content}}</textarea>
        <br><br>

        <!-- Image -->
        <button id="imageButton" type="button" onclick="toggleImageInput()">Add Image</button>

        <div id="fileInput" style="display: none;">
            <label for="image">Image:</label>
            <br>
            <input type="file" id="image" name="image" onchange="displayImage()">
            <br><br>
            <img id="image-preview" src="../assets/uploads/{{.ImageLink}}" alt="Image">
        </div>
        <!-- HIDDEN -->
        <input type="hidden" id="imageName" name="imageName" value="{{.ImageLink}}">
        <input type="hidden" id="addImageBoolean" name="addImageBoolean" value="false">
        <!-- HIDDEN -->
        <br><br>

        <style>
            img {
                width: 400px;
                height: 400px;
                object-fit: contain;
            }
        </style>

        <script>
        var imageInputVisible = false;

        function toggleImageInput() {
            const fileInput = document.getElementById('fileInput');
            var addImageBoolean = document.getElementById('addImageBoolean');
        
            if (imageInputVisible) {
                fileInput.style.display = 'none';
                document.getElementById('imageButton').textContent = "Add Image";
                addImageBoolean.value = "false";
            } else {
                fileInput.style.display = 'block';
                document.getElementById('imageButton').textContent = "Remove Image";
                addImageBoolean.value = "true";
            }

            imageInputVisible = !imageInputVisible;
        }
        </script>

        {{if .ImageLink}}
            <script>
                toggleImageInput();
            </script>
        {{end}}

        <script>
        function displayImage() {
            const file = document.getElementById('image').files[0];
            const imagePreview = document.getElementById('image-preview');

            if (!file.type.startsWith('image/')) {
                alert('Please select an image file');
                document.getElementById('image').value = '';
            } else {
                const reader = new FileReader();
                reader.onload = function() {
                    imagePreview.src = reader.result;
                }
                reader.readAsDataURL(file);

                imagePreview.style.display = 'block';
            }
        }
        </script>

        <!-- Tags -->
        <label for="tags">Tags:</label>
        <br>
        <select id="tags" name="tags">
            <option value="Nature">Nature</option>
            <option value="Space">Space</option>
        </select>
        <button type="button" onclick="addTag(getSelectedValue())">Add Tag</button>
        <br><br>

        <!-- List of tags -->
        <label for="selected-tags">Selected Tags:</label>
        <br>
        <ul id="selected-tags"></ul>
        <input type="hidden" id="selected-tags-input" name="selected-tags" value="">
        <input type="hidden" id="existing-tags" name="existing-tags" value="{{.TagsString}}">
        <br>

        <!-- Submit -->
        <input type="submit" value="Submit">
    </form>

    <!-- Script to add tags -->
    <script>    
        function getSelectedValue() {
            var select = document.getElementById('tags');
            return select.value;
        }

        var existingTags = document.getElementById("existing-tags"); 
        var existingTagsValue = existingTags.value;
        // Remove the first and last characters if they are '[' and ']'
        if (existingTagsValue.charAt(0) === '[' && existingTagsValue.charAt(existingTagsValue.length - 1) === ']') {
            existingTagsValue = existingTagsValue.substring(1, existingTagsValue.length - 1);
        }
        var tagsArray = existingTagsValue.split(" ");

        if (tagsArray != "") {
            tagsArray.forEach(function(tag) {
                addTag(tag);
            });
        }

        // Add new tag
        function addTag(selectedTag) {
            var selectedTagsList = document.getElementById("selected-tags");
            var selectedTagsInput = document.getElementById("selected-tags-input");

            var tagExists = Array.from(
                selectedTagsList.getElementsByTagName("li")).some(li => li.innerText === selectedTag || 
                (li.getElementsByTagName("button")[0] && li.getElementsByTagName("button")[0].innerText === "x" && 
                li.innerText === selectedTag + "x"));
                
            if (!tagExists) {
                var newTag = document.createElement("li");
                newTag.innerText = selectedTag;
                selectedTagsList.appendChild(newTag);

                // Add delete button
                var deleteButton = document.createElement("button");
                deleteButton.innerText = "x";
                deleteButton.onclick = function() {
                    newTag.remove();
                    var selectedTags = Array.from(selectedTagsList.getElementsByTagName("li")).map(li => li.innerText);
                    selectedTagsInput.value = JSON.stringify(selectedTags);
                };
                newTag.appendChild(deleteButton);

                var selectedTags = Array.from(selectedTagsList.getElementsByTagName("li")).map(li => li.innerText);
                selectedTagsInput.value = JSON.stringify(selectedTags);
            }
        }
    </script>
</body>

</html>

<!-- Array.from(selectedTagsList.getElementsByTagName("li")) --- from all these elements (li) -->
<!-- .map(li => li.innerText)                                --- get me the value of li elements (innerText) -->
<!-- .includes(selectedTag)                                  --- check if this value is present in the array -->
