<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    <link rel="stylesheet" href="../assets/css/style1.css">
</head>

<body>
    <header>
      <nav>
        <div id="logo">
          <h1>LOGO</h1>
        </div>
        
        <div id="profil">
          <a href="/login"> Connexion</a>
          <a href="/register"> Inscription</a>
        </div>
      </nav> 
    </header>
    <main id="bodyOfAcceuil">
      <div id="column1">
        <div id="menu">
          <div class="subMenu">
            <img
              src="../assets/uploads/acceuil.png"
              alt=""
              class="menuImage"
            />
            <a href="/"> Acceuil</a>
          </div>
          <!-- TEMPORARY -->
          <div class="subMenu">
            <img
              src="../assets/uploads/add.png"             
               alt=""
              class="menuImage"
            />
            <a href="/checkpublicationForm"> Ajouter</a>
          </div>
          <!-- TEMPORARY -->
          <div class="subMenu">
            <img
              src="../assets/uploads/news.png"
              alt=""
              class="menuImage"
            />

            <a href=""> Mes publication</a>
          </div>
          <div class="subMenu">
            <img
              src="../assets/uploads/like.png"
              alt=""
              class="menuImage"
            />
            <a href=""> Publication aimée</a>
          </div>
        </div>
        <div id="log_out">
          <a href="">DECONNEXION</a>
        </div>
      </div>
      <div id="column-2">
         <h1>Create Post</h1>
    <form action="/publicationSubmitForm" method="post" enctype="multipart/form-data">
        <div id="addForm">

        
        <!-- Title -->
    
        <div id="titleDiv">
            <input type="text"  placeholder="Title:"id="title" name="title" value="{{.Title}}" required>
        </div>
        
        <!-- Description -->
        <div id="contentDiv">
            <textarea id="content" placeholder="Content:" name="content" rows="4" cols="50" required>{{.Content}}</textarea>
        </div>
        
        <!-- Image -->
        <div id="imageDiv">
           <div id="imageLinkDiv">
            <label for="image">Image:</label>
            <input type="file" id="image" name="image" onchange="displayImage()" value="{{.ImageLink}}">
           </div>
            <img id="image-preview" src="../testcrud/uploads/{{.ImageLink}}" alt="Image">
        </div>

        <script>
        function displayImage() {
            const file = document.getElementById('image').files[0];
            const imagePreview = document.getElementById('image-preview');

            if (!file.type.startsWith('image/')) {
                alert('Please select an image file');
                document.getElementById('image').value = '';
            } else {
                const reader = new FileReader();
                reader.onload = function() {
                    imagePreview.src = reader.result;
                }
                reader.readAsDataURL(file);

                imagePreview.style.display = 'block';
            }
        }
        </script>
        <!-- Tags -->
        <div id="tagsDiv">

            <label for="tags">Tags:</label>
            <select id="tags" name="tags">
                <option value="Nature">Nature</option>
                <option value="Space">Space</option>
            </select>
            <button type="button" onclick="addTag()" id="tagsAdd">Add Tag</button>
        </div>
        <!-- List of tags -->
        <div id="selectedTags">
            <label for="selected-tags">Selected Tags:</label>
            <ul id="selected-tags"></ul>
            <input type="hidden" id="selected-tags-input" name="selected-tags" value="">
            <input type="hidden" id="existing-tags" name="existing-tags" value="{{.TagsString}}">
        </div>
        </div>
        <!-- Submit -->
        <div id="buttonDiv">
            
            <input type="button" value="Back" >
            <input type="submit" value="Create Post">
        </div>
    </form>

    <!-- Script to add tags -->
    <script>    
        // Add new tag
        function addTag() {
            var select = document.getElementById("tags");
            var selectedOption = select.options[select.selectedIndex];
            var selectedTag = selectedOption.value;
            var selectedTagsList = document.getElementById("selected-tags");
            var selectedTagsInput = document.getElementById("selected-tags-input");
            var existingTags = document.getElementById("existing-tags"); 
            var existingTagsValue = existingTags.value;

            var tagExists = Array.from(
                selectedTagsList.getElementsByTagName("li")).some(li => li.innerText === selectedTag || 
                (li.getElementsByTagName("button")[0] && li.getElementsByTagName("button")[0].innerText === "o" && 
                li.innerText === selectedTag + "o"));
                
            if (!tagExists) {
                var newTag = document.createElement("li");
                newTag.innerText = selectedTag;
                selectedTagsList.appendChild(newTag);

                // Add delete button
                var deleteButton = document.createElement("button");
                deleteButton.innerText = "x";
                deleteButton.onclick = function() {
                    newTag.remove();
                    var selectedTags = Array.from(selectedTagsList.getElementsByTagName("li")).map(li => li.innerText);
                    selectedTagsInput.value = JSON.stringify(selectedTags);
                };
                newTag.appendChild(deleteButton);

                var selectedTags = Array.from(selectedTagsList.getElementsByTagName("li")).map(li => li.innerText);
                selectedTagsInput.value = JSON.stringify(selectedTags);
            }
        }
    </script>
      </div>
    </main>
   
</body>

</html>

<!-- Array.from(selectedTagsList.getElementsByTagName("li")) --- from all these elements (li) -->
<!-- .map(li => li.innerText)                                --- get me the value of li elements (innerText) -->
<!-- .includes(selectedTag)                                  --- check if this value is present in the array -->
