<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>Document</title>
</head>

<body>
    <div id="centerBox">
            <h3>Inscription</h3>
            <form action="/registerGet" method="POST" id="centerBoxForm">
                <input type="text" id="let" name="mail" placeholder="mail">
                <input type="text" id="let" name="password" placeholder="password
                ">
                <input type="text" id="let" name="username" placeholder="username">
                <button type="submit"> valider</button>
            </form>
        
            <form action="/delete" id="centerBoxFormPrint">
                <button type="submit"> Print</button>
            </form>
        </div>

    <h1>{{.ErreurVoid}}</h1>
    <h1>{{.ErreurMail}}</h1>
</body>

</html>